
<div class="service-sidebar">
    <ul class="service-catergory">
        <li class=""><a href="/UserPanel/UserProfile/">Profil Bilgilerim</a> <span class="view-all-icon fa fa-caret-right"></span></li>
        <li class=""><a href="/UserPanel/MyTicket/">Biletlerim</a><span class="view-all-icon fa fa-caret-right"></span></li>
        <li class=""><a href="/UserPanel/MyEvent/">Etkinliklerim</a><span class="view-all-icon fa fa-caret-right"></span></li>
    </ul>
    <br>
    <br>
</div>
